In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
fullevents_df = pd.read_csv("fullevents.csv")
matches_df = pd.read_csv("matches.csv")
passingevents_df = pd.read_csv("passingevents.csv")

In [5]:
passingevents_df.head()

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0

In [13]:
Match1_df = passingevents_df.loc[passingevents_df["MatchID"]== 1,["OriginPlayerID","DestinationPlayerID","MatchPeriod","EventTime"]]
Match1_df

    OriginPlayerID DestinationPlayerID MatchPeriod    EventTime
0       Huskies_D1          Huskies_F1          1H    46.323501
1       Huskies_M1          Huskies_F2          1H    51.022546
2     Opponent1_D2        Opponent1_G1          1H    89.008721
3     Opponent1_G1        Opponent1_F1          1H    92.216160
4       Huskies_M2          Huskies_M3          1H    98.265191
..             ...                 ...         ...          ...
561     Huskies_F2          Huskies_M5          2H  2825.780227
562     Huskies_M5          Huskies_F2          2H  2836.145109
563     Huskies_F2          Huskies_M1          2H  2841.121956
564     Huskies_M1          Huskies_M5          2H  2842.836213
565   Opponent1_F5        Opponent1_M2          2H  2853.861735

[566 rows x 4 columns]